.App {
  color:white;
padding:10px;
  text-align: center;
 width:50%;
 margin-top:3%;
 margin-left:5%;
 margin-right:5%;
 height :500px;

  background-image: url("https://i.pinimg.com/originals/b0/05/4b/b0054b131c95b6736efa86d63db2fcd5.jpg")
}

